In [185]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [186]:
data = pd.read_csv('C:/Users/Chichvarina Marina/projects/Skillfactory/skf_projects/project_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008
715,tt0858479,7000000,10569964,Smart People,Dennis Quaid|Sarah Jessica Parker|Ellen Page|T...,Noam Murro,Sometimes the smartest people have the most to...,Professor Lawrence Wetherhold (Dennis Quaid) m...,95,Comedy|Drama|Romance,Miramax Films|Sherazade Film Development|Groun...,4/11/2008,5.5,2008
95,tt3203606,15000000,8235661,Trumbo,Bryan Cranston|Diane Lane|Helen Mirren|Elle Fa...,Jay Roach,Are you now or have you ever been...,The career of screenwriter Dalton Trumbo is ha...,124,Drama,Groundswell Productions|Inimitable Pictures|Sh...,10/27/2015,7.2,2015
1818,tt0187078,90000000,237202299,Gone In Sixty Seconds,Nicolas Cage|Angelina Jolie|Giovanni Ribisi|De...,Dominic Sena,"Ice Cold, Hot Wired.",Upon learning that he has to come out of retir...,118,Action|Crime|Thriller,Jerry Bruckheimer Films|Touchstone Pictures,6/9/2000,6.0,2000
1478,tt0455967,18000000,41009669,John Tucker Must Die,Jesse Metcalfe|Brittany Snow|Sophia Bush|Ariel...,Betty Thomas,Don't Get Mad. Get Even.,After discovering they are all dating the same...,87,Comedy,Twentieth Century Fox Film Corporation|Dune En...,7/27/2006,6.0,2006

In [187]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [188]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [189]:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [248]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [191]:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Paranormal Activity 3                            5000000
Oculus                                           5000000
Paranormal Activity 4                            5000000
Dallas Buyers Club                               5000000
Wonderland                                       5000000
Name: budget, Length: 1887, dtype: int64

ВАРИАНТ 2

In [192]:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [193]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [194]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [195]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [196]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [197]:
answers['4'] = '109.658549'

In [198]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [199]:
answers['5'] = '107.0'

In [200]:
data.median()

budget          38000000.0
revenue         83615414.0
runtime              107.0
vote_average           6.1
release_year        2008.0
profit          44000410.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [201]:
answers['6'] = 'Avatar (tt0499549)'

In [202]:
data[(data.profit == data.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [203]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [204]:
data[(data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [205]:
answers['8'] = '1476'

In [206]:
data[(data.revenue > data.budget)].original_title.describe()

count               1478
unique              1476
top       Fantastic Four
freq                   2
Name: original_title, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [207]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [208]:
data[(data.release_year == 2008)].sort_values(['revenue'], ascending=False).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [288]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [287]:
data[(data.release_year <= 2014)&
    (data.release_year >= 2012)].sort_values(['profit'], ascending=True).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500

# 11. Какого жанра фильмов больше всего?

In [211]:
answers['11'] = 'Drama'

In [212]:
data1 = data.copy(deep=True)
data1['genres'] = data1['genres'].str.split('|')
data1['genres'].explode().value_counts(normalize=True)

Drama              0.153123
Comedy             0.133738
Thriller           0.116703
Action             0.113961
Adventure          0.081261
Crime              0.061680
Romance            0.060309
Family             0.050911
Science Fiction    0.048561
Fantasy            0.043470
Horror             0.034463
Mystery            0.032896
Animation          0.027218
Music              0.012532
History            0.012140
War                0.011357
Western            0.003720
Documentary        0.001566
Foreign            0.000392
Name: genres, dtype: float64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [213]:
answers['12'] = 'Drama'

In [214]:
data2 = data.copy(deep=True)
data2 = data2.query('profit > 0')
data2['genres'] = data2['genres'].str.split('|')
data2['genres'].explode().value_counts(normalize=True)

Drama              0.141343
Comedy             0.139071
Thriller           0.112569
Action             0.112065
Adventure          0.085058
Romance            0.061080
Crime              0.058304
Family             0.057042
Science Fiction    0.049218
Fantasy            0.047451
Horror             0.037860
Animation          0.030288
Mystery            0.030035
Music              0.011863
History            0.011610
War                0.010348
Western            0.003029
Documentary        0.001767
Name: genres, dtype: float64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [215]:
data3 = data.copy(deep=True)
data3.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [216]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [309]:
data4 = data.copy(deep=True)
data4[data4.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

In [308]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [219]:
data5 = data.copy(deep=True)
data5 = data5.query('release_year == 2012')
data5['cast'] = data5['cast'].str.split('|')
data5 = data5.explode('cast')
data5.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [220]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [315]:
data6 = data.copy(deep=True)
data6[(data6.budget > data6.budget.mean())]
data6['cast'] = data6['cast'].str.split('|')
data6 = data6.explode('cast')
data6.groupby(['cast'])['original_title'].count().sort_values(ascending=False)

cast
Nicolas Cage               27
Samuel L. Jackson          27
Matt Damon                 26
Robert De Niro             26
Bruce Willis               25
                           ..
Jason London                1
Jason Mitchell              1
Jason Ritter                1
Jason Spevack               1
Ã“lafur Darri Ã“lafsson     1
Name: original_title, Length: 3406, dtype: int64

In [316]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [223]:
data7 = data.copy(deep = True)
data7 = data7[data7.cast.str.contains("Nicolas Cage", na=False)]
data7['genres'] = data7['genres'].str.split('|')
data7['genres'].explode().value_counts(normalize = True)

Action             0.182796
Thriller           0.161290
Drama              0.129032
Crime              0.107527
Fantasy            0.086022
Adventure          0.075269
Comedy             0.064516
Science Fiction    0.043011
Mystery            0.032258
Animation          0.032258
Family             0.032258
History            0.021505
Romance            0.010753
Horror             0.010753
War                0.010753
Name: genres, dtype: float64

In [224]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [225]:
data8 = data.copy(deep=True)
data8 = data8[data8.production_companies.str.contains("Paramount Pictures", na=False)]
data8[(data8.profit == data8.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [226]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [227]:
data9 = data.copy(deep=True)
grouped_data9 = data9.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(grouped_data9)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [228]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [229]:
data10 = data.copy(deep=True)
data10 = data10[data10.production_companies.str.contains("Warner Bros", na=False)]
grouped_data10 = data10.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(grouped_data10)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [230]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [231]:
data11 = data.copy(deep=True)
data11.release_date = pd.to_datetime(data11.release_date)
data11['release_month'] = data11.release_date.dt.month
data11['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [232]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [233]:
data12 = data.copy(deep=True)
data12.release_date = pd.to_datetime(data12.release_date)
data12['release_month'] = data12.release_date.dt.month
data12['release_month'].value_counts()
data12 = data12.query('release_month == 6 or release_month == 7 or release_month == 8')

In [234]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [235]:
data13 = data.copy(deep=True)
data13.release_date = pd.to_datetime(data13.release_date)
data13['release_month'] = data13.release_date.dt.month
data13['release_month'].value_counts()
data13 = data13.query('release_month == 1 or release_month == 2 or release_month == 12')
data13['director'] = data13['director'].str.split('|')
data13['director'].explode().value_counts(normalize = True)

Peter Jackson        0.014862
Clint Eastwood       0.012739
Steven Soderbergh    0.012739
Nancy Meyers         0.008493
Martin Scorsese      0.008493
                       ...
George Armitage      0.002123
Anne Fletcher        0.002123
Kurt Wimmer          0.002123
Justin Chadwick      0.002123
Louis Leterrier      0.002123
Name: director, Length: 358, dtype: float64

In [236]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [279]:
data14 = data.copy(deep=True)
data14['production_companies'] = data14['production_companies'].str.split('|')
data14 = data14.explode('production_companies')
data14['original_title'] = data14.original_title.apply(lambda x:len(x))
data14.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: original_title, Length: 1771, dtype: float64

In [280]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [239]:
data15 = data.copy(deep=True)
data15['production_companies'] = data15['production_companies'].str.split('|')
data15 = data15.explode('production_companies')
data15['overview'] = data15.overview.apply(lambda x:len(x))
data15.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
London Boulevard                           74.0
Henceforth                                 74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview, Length: 1771, dtype: float64

In [240]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [267]:
data16 = data.copy(deep=True)
display(data16.loc[(data16['vote_average'] > np.percentile(data16['vote_average'],99))].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [285]:
answers['26'] = 'Interstellar, The Grand Budapest Hotel, The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [283]:
import itertools
data17 = data.copy(deep=True)
pairs = Counter()
for i in range(0,len(data17)):
    artists = data17.cast[i].split('|')
    for j in list(itertools.combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [284]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

# Submission

In [286]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.658549',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1476',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'Man of Tai Chi (tt2016940)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Paul W.S. Anderson',
 '15': 'Chris Hemsworth',
 '16': 'Johnny Depp',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Interstellar, The Grand Budapest Hotel, The Dark Knight',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [243]:
# и убедиться что ни чего не пропустил)
len(answers)

25